<% provide(:title, 'About Us') %>
<title><%= full_title(yield(:title))%></title>
<h1><%=yield(:title)%></h1>
<p>
  This is a project to learn web development with <a href="http://rubyonrails.org/">Ruby on Rails</a>. This is an App to TALK.
</p>

<p> Today's word after shuffle is <%=string_shuffle(yield(:title))%>
</p>

