<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
 <%= link_to 'Sign Up Now !', root_path %> if you are a new user.
<br>
  <%= link_to 'Sign In', root_path %> if you are returning.
</p>
<p>
   Users can view and edit their Profile by clicking on Account.
<br>
  Only users with Admin privledge can view and edit other users.   
 

</p> 

