<!DOCTYPE html>
<html>
    <head>
       <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
       <h1> <%= @user.name %> Welcome to LETS TALK </h1>
          <p>
            You have successfully signed up to letsTALK.com, 
            your userid is: <%= @user.email %>.  <br/>
          </p>
          <p>
             To login follow <%= @url %>
          </p>
         <p>
             Thank you for joining !
         </p> 
    </body>
</html>
